footer {
  margin-top: 50px;

  article {
    display: flex;
    background: lightgray;
    padding: 8px 20px;
    flex: 0 1 auto;


    section {
      font-size: 12px;
      flex: 1 1 auto;
      display: inline-flex;
      align-content: center;
      margin:0;

    }
  }
}
