@import 'components/normalize';

@import "components/flexgrid";
@import "components/fonts";
@import "components/buttons";
@import "components/blockquote";
@import "components/fieldset";

@import "header";
@import "footer";

@import "posts";
@import "lesson";


#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: white;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  top: 0;
  left: 0;
}
