<header>
  <section>
    <article>
      <strong>Berdj Abrahamian</strong>&emsp;|&emsp;E-Commerce Expert&emsp;|&emsp;Full-Stack Developer&emsp;|&emsp;Dev
      Ops Specialist
    </article>
    <article>
      <a href="tel:1234567890">123-456-7890</a>
      <a href="https://github.com">Github</a>
      <a href="mailto:email@exampl.com">Email</a>
    </article>
  </section>

  <nav>
    <menu>
      <figure>
        <LinkTo @route="index">
          <img src="https://placehold.it/100" alt="Berdj Abrahamian Personal Portfolio" class="logo" id="logo">
        </LinkTo>
      </figure>
      <li>
        <LinkTo @route="index">Home</LinkTo>
      </li>
      <li>
        <LinkTo @route="contact">Contact</LinkTo>
      </li>
    </menu>
  </nav>
</header>
