<header>
  <article>
    <section>
      <strong>Berdj Abrahamian</strong>&emsp;|&emsp;E-Commerce Expert&emsp;|&emsp;Full-Stack Developer&emsp;|&emsp;Dev
      Ops Specialist
    </section>
    <section>
      {{!--<a href="tel:4165675988">123-456-7890</a>--}}
      <a href="https://github.com/berdjarbahamian">Github</a>
      <a href="mailto:berdj.abrahamian@gmail.com">Email</a>
    </section>
  </article>

  <nav>
    <menu>
      <figure>
        <LinkTo @route="index">
          <img src="assets/images/ba-logo.png" alt="Berdj Abrahamian Personal Portfolio" class="logo" id="logo">
        </LinkTo>
      </figure>
      <li>
        <LinkTo @route="index">Home</LinkTo>
      </li>
      {{!--
      <li>
        <LinkTo @route="contact">Contact</LinkTo>
      </li>
      <li>
        <LinkTo @route="posts">Posts</LinkTo>
      </li>
      --}}
      <li>
        <LinkTo @route="lesson">Lesson</LinkTo>
      </li>
    </menu>
  </nav>
</header>
