<header>
  <article>
    <section>
      <strong>Berdj Abrahamian</strong>&emsp;|&emsp;E-Commerce Expert&emsp;|&emsp;Full-Stack Developer&emsp;|&emsp;Dev
      Ops Specialist
    </section>
    <section>
      <a href="tel:{{this.phoneNumber}}">{{this.phoneNumber}}</a>
      <a href={{this.githubAddress}}>Github</a>
      <a href="mailto:{{this.email}}">Email</a>
    </section>
  </article>
</header>
