blockquote {
  background: #F3F3F3;
  padding: 20px 30px;

  font-size: 0.8rem;

  cite {
    font-style: italic;

    &::before {
      content: '\2014';
      margin-right: 5px;
    }

    a {
      text-decoration: none;
    }
  }

  code {
    display: block;

    &.terminal {
      &::before {
        content: "$";
        font-weight: bold;
        padding-right: 15px;
      }
    }
  }
}
