$header-height: 100px;
$footer-height: 100px;

main {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 50px;
  align-content: flex-start;
  justify-content: flex-start;
  max-width: 75rem;

}

section {
  margin: 25px 0;
}


// SETTING UP SOME BOILERPLATE STYLING THAT I MAY USE ONE DAY

.no {
  &-padding {
    padding: 0;

    &-v {
      padding-top: 0;
      padding-bottom: 0;
    }

    &-h {
      padding-left: 0;
      padding-right: 0;
    }
  }


  &-margin {
    margin: 0;

    &-v {
      margin-top: 0;
      margin-bottom: 0;
    }

    &-h {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
