<hgroup>
  <h1>Building my personal portfolio with Ember.js</h1>
  <h5>By: Berdj Abrahamian</h5>
  <h6>Today</h6>
</hgroup>

<artice>
  <section>
    <p>Welcome! This page will be dedicated to the building of my Personal Portfolio Website, utilizing frameworks like
      Ember.js amongst other things.
      The goal of this project is to teach myself the Ember framework while leveling up my skills. But there is a beauty
      to all of this. Since I am documenting everything, this will also be a great tutorial to helping you out as
      well.</p>
    <p>This project will be built on Ember Octane (v3.16). If you have gotten this far, it means that not only has this
      project succeeded in everything that I had imagined in my own mind, but also that you were able to find it by one
      search query or another.</p>
    <p>This page is supposed to be the <a href="/">Live Demo</a>, where you are allowed to play around. Everything you see
      on this site will be documented in one form or another on this site.</p>
    <p>You can clone the repository that is connected to this app from GitHub and launch it on your desktop anytime, which
      can be found here:<br>
      <a href="https://github.com/berdjabrahamian/Personal-Website-EmberJS">Personal Portfolio Repo</a></p>
    <p>If you have any question, comments, suggestion or feedback, please feel free to contact me:<br>
    <ul>
      <li>Email:</li>
      <li>Website:</li>
    </ul>
    </p>
  </section>
</artice>


<aside>
  <section>
    <h2>Contents</h2>
    <h4><a href="#story-1">Story: How will this project come together</a></h4>
    <h4><a href="#1">Lesson 1: Getting Set up and Started</a></h4>
    <h4><a href="#2">Lesson 2: Lets get the project started</a></h4>
  </section>
</aside>


<article>

  <section id="story-1">
    <h2>How will this project come together</h2>
    <p>As I said above, this project will be a learning experience for me and hopefully for you as well. We will be going
      through several <i>LESSONS</i> which will break down everything we are doing. But there is a beauty to all of this.
      You You can also use these <i>lessons</i> and follow along to build out this as well yourself. We will be
      documenting everything here, so there wont be any guessing or thinking on your end as what you need to fill in.</p>
    <p>However, you are free to change things around as you follow along if you are following along this to build
      something else other than a personal portfolio.</p>
  </section>

  <section id="1">
    <h2>1: Getting Set up and Started</h2>
    <p>To begin we will need to first set up our directory structure. So lets open up our terminal and get started</p>
    <blockquote>
      <code>mkdir Portfolio</code>
    </blockquote>
    <p>Depending on your OS, the terminal will default to a specific location on open - on a mac, its the users home
      folder. </p>
    <p>Now that we have the new folder created lets <var>cd</var> (change directory) into our newly created folder.</p>
    <blockquote>
      <code>cd Portfolio</code>
    </blockquote>
    <p>We are in our Portfolio folder, and we are ready to start building</p>
    <hr/>
    <h3>Installing Ember</h3>
    <p>First lets check to see if you have <var>ember cli</var> installed on your system. You can easily check by typing
      the following in your terminal:</p>
    <blockquote>
      <code>ember --version</code>
    </blockquote>

    <blockquote>
      <code>
        ember-cli: 3.16.0<br/>
        node: 12.14.0<br/>
        os: darwin x64
      </code>
    </blockquote>
    <p>If you get something along the lines of the following, then it means you have ember on your computer, if you get
      something different (ie. a error) then we need to install <var>Ember CLI</var>.
    </p>
    <p>Choose the option that best suites you.</p>

    <a href="#2">I got ember, lets continue</a> OR <a href="#i-need-ember">I need Ember</a>
  </section>


  <section id="2">
    <h2>2: Lets get the project started</h2>
    <p>Your terminal should still be reading within the <var>Portfolio</var> folder you created in the first lesson.</p>
    <p>To get the Ember project started and going, you just need to type the following in the terminal:</p>
    <blockquote><code>ember new frontend</code></blockquote>
    <p>This will create a new directory called <var>frontend</var> and install all the ember framework within it.</p>
    <p>The code above will get the <var>Ember CLI</var> to scaffold everything you need to get started.</p>
    <hr/>
    <h3>Launch the app</h3>
    <p>You application is ready and all you need to do is:</p>
    <blockquote><code>cd frontend</code></blockquote>
    <p>and they followed by:</p>
    <blockquote><code>ember serve</code></blockquote>
    <p>The project will start building, and once complete you will get a notice on how to view the project in your
      browser:</p>
    <blockquote><code>Build successful (16487ms) – Serving on http://localhost:4200/</code></blockquote>
    <p>Go to that url and if you are using the latest Ember, you should see the Ember mascot "Tomster" and
      "Congratulations .." msg. This is embers welcome page. It comes with every Ember new install.</p>
    <p>WOOHOO you got ember up and running.</p>
  </section>


  <section id="i-need-ember">
    <h2>I need ember</h2>
    <p>So you need Ember, well your in luck, Ember has some great <a
            href="https://guides.emberjs.com/release/tutorial/part-1/orientation/">documentation</a> on how to install it.
    </p>
    <p>But your not here to look elsewhere, so im going to walk you through just like how Ember walkes you through it.</p>
    <h4>Prerequisites</h4>
    <p>1 - Node <a href="#install-node">(Help Me Install Node)</a></p>
    <p>2 - NPM <a href="#install-npm">(Help Me Install Node)</a></p>
    <p>3 - Ember</p>
    <hr/>
    <p>To install Ember, we need to make sure you have both <var>Node</var> and <var>NPM</var> is installed on your
      computer. You can quickly check that by typing the following in your terminal:</p>
    <blockquote><code>node --version</code></blockquote>
    <blockquote><code>npm --version</code></blockquote>
    <p>If any of them produce and error see the prerequisites on how to install that specific package on your system.</p>
    <p>To install the <var>Ember CLI</var> on your computer, type the following command into your terminal:</p>
    <blockquote><code>npm install -g ember-cli</code></blockquote>
    <p>This will install the latest version which should be at minimum <var>3.16.0</var>, which is what we are building
      this project in.</p>
    <p>To test to make sure everything went well then type the following in your terminal:</p>
    <blockquote><code>ember --version</code></blockquote>
    <p>And you should get the following back (give or take a version digit)</p>
    <blockquote>
      <code>
        ember-cli: 3.16.0<br/>
        node: 12.16.0<br/>
        os: linux x64
      </code>
    </blockquote>
    <h4>Congratulations, you have Ember on your computer.</h4>
  </section>

  <section id="install-npm">
    <h2>Install NPM</h2>
  </section>
</article>
