<main>
  <article class="container">
    <h1>Welcome to my personal portfolio.</h1>
    <p>If you are wondering why this is empty, its because this website is dedicated to building out our personal portfolio website as a series of tutorials to show us how to built out this site in Ember JS.</p>
    <p>If you look at this projects <a href="https://github.com/berdjabrahamian/Personal-Website-EmberJS">GitHub Public
      Repository</a>, the README will explain it all</p>
    <p>If you want to get started and see this project come together, go to the <LinkTo @route="lessons">Lessons</LinkTo> page.</p>
  </article>
</main>

{{#each @model as |project|}}
  <p>{{project.id}}</p>
{{/each}}