<nav>
  <h2>Contents</h2>
  <li><a href="#story-1">Story: How will this project come together</a></li>
  <li><a href="#1">Lesson 1: Getting set up and started</a></li>
  <li><a href="#2">Lesson 2: Lets get the project started</a></li>
  <li><a href="#3">Lesson 3: Cool welcome page, now what</a></li>
  <li><a href="#4">Lesson 4: Website Symantics</a></li>
  <li><a href="#5">Lesson 5: Lets add some content</a></li>
  <li><a href="#6">Lesson 6: Routes and Templates</a></li>
  {{yield}}
</nav>
